.main {
    display: flex;
    min-height: 78vh;
    flex-direction: row;
    margin-bottom: 2vh;
    align-items: flex-start;
}

.container {
    min-height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 10px;
    width: 40%;
    margin-right: 10px;
    color: #FFFFFF;
    background: #15183799;
    border-radius: 30px;
    font-family: 'Signika Negative', sans-serif;
    margin-bottom: 0vh;
}

.title {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    margin-bottom: 1%;
    margin-top: 1%;
    gap: 7%;
}

.carrinhoImg {
    filter: invert(100%);
    width: auto;
    height: auto;
    max-width: 20%;
}

.qtdTotal {
    display: flex;
    width: 40%;
    justify-content: center;
    font-size: 0.9vw;
    margin-bottom: 1.5%;
}

.product {
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 15%;
    background: #FFFFFF;
    color: #000000;
    align-items: center;
    border-radius: 8px;
}

.imgProduto {
    width: 12%;
    height: 75%;
    padding: 1%;
    margin-left: 2%;
}

.firstLine {
    display: flex;
    margin-left: 2%;
    width: 40%;
    gap: 0.4vw;
}

.buttons {
    width: 50%;
    display: flex;
    gap: 0.8vw;
    justify-content: center;
    align-items: center;
}

.buttonMenos {
    width: 30%;
    height: 65%;
    font-size: 1.1vw;
    border-radius: 20%;
    border: none;
    cursor: pointer;
}

.buttonMenos:hover {
    background-color: #FF5137;
}

.buttonMenos:active {
    background-color: #F72000;
}

.qtd {
    font-weight: bold;
    font-size: 1vw;
    width: 29%;
    text-align: center;
}

.buttonMais {
    width: 30%;
    height: 65%;
    font-size: 1vw;
    justify-content: center;
    text-align: center;
    align-content: center;
    border: none;
    border-radius: 20%;
    cursor: pointer;
}

.buttonMais:hover {
    background-color: #4dff4d
}

.buttonMais:active {
    background-color: #00db00
}

.value {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    height: 50%;
    width: 55%;
    gap: 5px;
}

.valueSingle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7vw;
}

.valueTotal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-weight: bold;
}

.name {
    font-size: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15vw;
    font-weight: bold;
}

.buttonRemove {
    height: 30%;
    width: 5%;
    justify-content: center;
    margin-right: 2%;
    border-radius: 15%;
    padding-left: 2px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.lixeira {
    height: 88%;
    width: 95%;
    padding: 3px 2px 2px 2px;
    border-radius: 15%;
}

.lixeira:hover {
    background-color: #FF5137;
}

.lixeira:active {
    background-color: #F72000;
}

.secondColumn{
    display: flex;
    flex-direction: column;
}

.buttonHome {
    width: 96%;
    padding: 2%;
    font-size: 0.8vw;
    text-align: center;
    background-color: #a407ff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.buttonHome:hover {
    background-color: #d780ff;
}

.buttonHome:active {
    background-color: #4b0082;
}

.linkHome {
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (max-device-width: 1024px) and (min-device-width: 769px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .container{
        width: 78%;
        margin-left: 0;
    }

    .title {
        font-size: 3.2vw;
    }

    .qtdTotal {
        font-size: 2.3vw;
        width: 40%;
    }

    .product {
        width: 95%;
        height: 12%;
    }

    .imgProduto {
        width: 13%;
        height: 76%;
        margin-left: 0%;
    }

    .firstLine {
        width: 45%;
    }

    .buttons {
        width: 40%;
    }

    .buttonMenos {
        font-size: 2.2vw;
        height: 85%;
    }

    .qtd {
        font-size: 2.2vw;
    }

    .buttonMais {
        font-size: 2.2vw;
        height: 85%;
    }

    .valueSingle {
        font-size: 1.6vw;
    }

    .valueTotal {
        font-size: 2.3vw;
    }

    .name {
        font-size: 1.7vw;
    }

    .buttonRemove {
        height: 31%;
        width: 6%;
    }

    .secondColumn{
        align-items: center;
        justify-content: center;
    }

    .buttonHome {
        font-size: 1.8vw;
    }
}

@media screen and (max-device-width: 768px) and (min-device-width: 551px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    
    .container {
        width: 85%;
        margin-left: 0%;
    }

    .title {
        font-size: 2.7vw;
    }

    .qtdTotal {
        font-size: 2.2vw;
    }

    .product {
        width: 95%;
        height: 12%;
    }

    .imgProduto {
        width: 13%;
        height: 76%;
        margin-left: 0%;
    }

    .firstLine {
        width: 45%;
    }

    .buttons {
        width: 40%;
    }

    .buttonMenos {
        font-size: 2.2vw;
        height: 85%;
    }

    .qtd {
        font-size: 2.2vw;
    }

    .buttonMais {
        font-size: 2.2vw;
        height: 85%;
    }

    .valueSingle {
        font-size: 1.6vw;
    }

    .valueTotal {
        font-size: 2.3vw;
    }

    .name {
        font-size: 1.7vw;
    }

    .buttonRemove {
        height: 31%;
        width: 6%;
    }

    .secondColumn{
        align-items: center;
        justify-content: center;
    }

    .buttonHome {
        font-size: 2vw;
    }
}

@media screen and (max-device-width: 550px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    
    .container {
        width: 95%;
        margin-left: 2.6%;
    }

    .title {
        width: 35%;
        font-size: 4vw;
    }

    .qtdTotal {
        width: 38%;
        font-size: 3vw;
    }

    .product {
        width: 100%;
    }

    .imgProduto {
        width: 15%;
        height: 79%;
        margin-left: 0%;
    }

    .firstLine {
        width: 50%;
        margin-left: 0.5%;
    }

    .buttons {
        width: 82%;
        margin-left: 3%;
    }

    .buttonMenos {
        font-size: 5vw;
        height: 90%;
    }

    .qtd {
        font-size: 3vw;
        width: 40%;
    }

    .buttonMais {
        font-size: 5vw;
        height: 90%;
    }

    .value {
        width: 95%;
    }

    .valueSingle {
        font-size: 2.5vw;
    }

    .valueTotal {
        font-size: 3.7vw;
    }

    .name {
        font-size: 2.5vw;
        width: 19vw;
    }

    .buttonRemove {
        height: 32%;
        width: 7%;
        margin-right: 2%;
        padding-left: 0px;
    }

    .secondColumn{
        align-items: center;
        justify-content: center;
    }

    .buttonHome {
        width: 100%;
        padding: 4%;
        font-size: 3.7vw;
        border-radius: 12px;
    }
}