.main {
    display: flex;
    min-height: 78vh;
    flex-direction: row;
    margin-bottom: 2vh;
    align-items: flex-start;
}

.container {
    min-height: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2%;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding: 10px;
    width: 40%;
    margin-right: 10px;
    color: #FFFFFF;
    background: #15183799;
    border-radius: 30px;
    font-family: 'Signika Negative', sans-serif;
    margin-bottom: 0vh;
}

.title {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    margin-bottom: 1%;
    margin-top: 1%;
    gap: 7%;
}

.carrinhoImg {
    filter: invert(100%);
    width: auto;
    height: auto;
    max-width: 20%;
}

.qtdTotal {
    display: flex;
    width: 40%;
    justify-content: center;
    font-size: 0.9vw;
    margin-bottom: 1.5%;
}

.product {
    border: 1px solid #000000;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 15%;
    background: #FFFFFF;
    color: #000000;
    align-items: center;
    border-radius: 8px;
}

.imgProduto {
    width: 12%;
    height: 75%;
    padding: 1%;
    margin-left: 2%;
}

.firstLine {
    display: flex;
    margin-left: 2%;
    width: 40%;
    gap: 0.4vw;
}

.buttons {
    width: 50%;
    display: flex;
    gap: 0.8vw;
    justify-content: center;
    align-items: center;
}

.buttonMenos {
    width: 30%;
    height: 65%;
    font-size: 1.1vw;
    border-radius: 20%;
    border: none;
    cursor: pointer;
}

.buttonMenos:hover {
    background-color: #FF5137;
}

.buttonMenos:active {
    background-color: #F72000;
}

.qtd {
    font-weight: bold;
    font-size: 1vw;
    width: 29%;
    text-align: center;
}

.buttonMais {
    width: 30%;
    height: 65%;
    font-size: 1vw;
    justify-content: center;
    text-align: center;
    align-content: center;
    border: none;
    border-radius: 20%;
    cursor: pointer;
}

.buttonMais:hover {
    background-color: #4dff4d
}

.buttonMais:active {
    background-color: #00db00
}

.value {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    height: 50%;
    width: 55%;
    gap: 5px;
}

.valueSingle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7vw;
}

.valueTotal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    font-weight: bold;
}

.name {
    font-size: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15vw;
    font-weight: bold;
}

.buttonRemove {
    height: 30%;
    width: 5%;
    justify-content: center;
    margin-right: 2%;
    border-radius: 15%;
    padding-left: 2px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
}

.lixeira {
    height: 88%;
    width: 95%;
    padding: 3px 2px 2px 2px;
    border-radius: 15%;
}

.lixeira:hover {
    background-color: #FF5137;
}

.lixeira:active {
    background-color: #F72000;
}

.secondColumn{
    display: flex;
    flex-direction: column;
}

.lineEnd {
    display: flex;
    width: 94.5%;
    height: 9vw;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: 3%;
}

.cep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    width: 60%;
    height: 12vh;
    border-radius: 8px;
    align-items: center;
}

.total {
    width: 50%;
    font-weight: bold;
    justify-content: center; 
    margin: 2% 0 3% 4.5%;
}

.totalValue{
    font-size: 1.3vw;
    color:#2ecc71;
}

.freightValue{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 0.9vw;
    margin-right: 2%;
   
}

.input {
    display: flex;
    font-size: 0.8vw;
    width: 90%;
    border-radius: 7px;
    text-align: center;
    height: 1.5vw;
    margin-left: 2%;
}

.buttonCep {
    display: flex;
    border-radius: 20%;
    height: 1.8vw;
    cursor: pointer;
}

.buttonCep:hover {
    background-color: #07dfff;
}

.buttonCep:active {
    background-color: #07dfff;
    color: #FFFFFF;
}

.lupa {
    height: 1.8vw;
    width: 100%;
}

.finalValue{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    flex-direction: column;
    margin-top: 3vh;
    border-radius: 10px;
    align-items: center;
}

.address {
    display: flex;
    width: 97%;
    text-align: center;
    align-items: center;
    
    padding: 2%;
    border-radius: 10px;
}

.local {
    display: flex;
    flex-direction: column;
    width: 53%;
    font-size: 1.1vw;
    color: #000000;
}

.city {
    width: 32%;
    font-size: 1.1vw;
    color: #000000;
}

.freight {
    width: 18%;
    font-size: 1.1vw;
    display: flex;
    justify-content: flex-end;
    color: #228b22;
    font-weight: bold;
}

.buttonClose {
    border-radius: 15%;
    cursor: pointer;
    border: none;
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    height: 1.9vw;
}

.excluir {
    width: 100%;
    height: 1.3vw;
    padding-top: 3%;
}

.buttonClose:hover {
    background-color: #FF5137;
}

.buttonClose:active {
    background-color: #F72000
}



.end {
    display: flex;
    gap: 10%;
}

.buttonHome {
    width: 8vw;
    background-color: #161837;
    font-size: 0.9vw;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.buttonHome:hover {
    background-color: #07dfff;
}

.buttonHome:active {
    background-color: #4b0082;
}

.buttonHome:hover .linkHome {
    color: #000000;
}

.buttonHome:active .linkHome {
    color: #FFFFFF
}

.linkHome {
    text-decoration: none;
    color: #FFFFFF;
}

.buttonEnd {
    width: 8vw;
    background-color: #161837;
    font-size: 1vw;
    border-radius: 6px;
    cursor: pointer;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-align: center;
}

.buttonEnd:hover {
    background-color: #4dff4d;
    color: #000000;
}

.buttonEnd:active {
    background-color: #008000;
    color: #FFFFFF;
}

.container_payment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    min-height: 40vh;
    
}

.container_payment form {
    padding: 2%;
    width: 42vw;
    background: #fff;
    border-radius: 3%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.container_payment form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 4%;
}

.container_payment form .row .col {
    flex: 1 1 25%;
}

.container_payment form .row .col .title {
    display: flex;
    justify-content: flex-start;
    height: 8%;
    width: 50%;
    font-size: 0.9vw;
    color: #000000;
    padding: 0 0 1% 1%;
    text-transform: uppercase;
}

.container_payment form .row .col .inputBox {
    margin-top: 5%;
    
}

.container_payment form .row .col .inputBox span {
    margin-bottom: 1.5%;
    display: block;
    font-size: 0.9vw;
}

.container_payment form .row .col .inputBox input {
    width: 95%;
    border: 1px solid #ccc;
    padding: 2.8% 1.5%;
    font-size: 0.8vw;
    border-radius: 4px;
    text-transform: none;
}

.container_payment form .row .col .inputBox input:focus {
    border: 1px solid #000;
}

.container_payment form .row .col .flex {
    width: 95%;
    display: flex;
    gap: 6%;
    margin-top: 5.9%;
}

.container_payment form .row .col .flex .inputBox {
    margin-top: 0;
}

.container_payment form .row .col .flex .inputBox span{
    margin-bottom: 2%;
}

.container_payment form .row .col .flex .inputBox input {
    width: 98%;
    border: 1px solid #ccc;
    padding: 6% 4.5%;
    font-size: 0.8vw;
    text-transform: none;
}

.container_payment form .row .col .inputBox .card_img {
    width: 11vw;
    height: auto;
    margin-top: 2.9px;
    filter: drop-shadow(0 0 1px #000);
}

.container_payment form .submit_btn {
    width: 100%;
    padding: 2%;
    font-size: 0.8vw;
    background: #27ae60;
    color: #fff;
    margin-top: 1%;
    cursor: pointer;
}

.container_payment form .submit_btn:hover {
    background: #2ecc71;
}

@media screen and (max-device-width: 1024px) and (min-device-width: 769px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .container{
        width: 78%;
        margin-left: 0;
    }

    .title {
        font-size: 3.2vw;
    }

    .qtdTotal {
        font-size: 2.3vw;
        width: 40%;
    }

    .product {
        width: 95%;
        height: 12%;
    }

    .imgProduto {
        width: 13%;
        height: 76%;
        margin-left: 0%;
    }

    .firstLine {
        width: 45%;
    }

    .buttons {
        width: 40%;
    }

    .buttonMenos {
        font-size: 2.2vw;
        height: 85%;
    }

    .qtd {
        font-size: 2.2vw;
    }

    .buttonMais {
        font-size: 2.2vw;
        height: 85%;
    }

    .valueSingle {
        font-size: 1.6vw;
    }

    .valueTotal {
        font-size: 2.3vw;
    }

    .name {
        font-size: 1.7vw;
    }

    .buttonRemove {
        height: 31%;
        width: 6%;
    }

    .secondColumn{
        align-items: center;
        justify-content: center;
    }

    .lineEnd {
        width: 100%;
        margin: 5% auto 3% 0;
    }
    
    .cep {
        width: 80%;
        height: 15vh;
    }
    
    .total {
        font-size: 2vw;
        text-align: center;
        margin: 2% 0 2% 0;
    }
    
    .totalValue{
        font-size: 2.4vw;
        margin-left: 1.5%;
    }
    
    .freightValue{
        font-size: 2vw;
        margin-right: 0;
    }

    .input {
        width: 96%;
        height: 3.5vw;
        font-size: 1.8vw;
        margin-left: 1.1vw;
    }

    .buttonCep {
        height: 3.9vw;
        margin-left: 2vw;
        margin-top: 0.2vh;
    }

    .lupa {
        height: 3.9vw;
    }

    .finalValue{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .address {
        width: 96%;
    }

    .local {
        font-size: 2vw;
    }

    .city {
        font-size: 2vw;
    }

    .freight {
        font-size: 2vw;
    }
    
    .excluir {
        height: 2.3vw;
    }

    .buttonHome {
        font-size: 1.8vw;
        width: 13vw;
    }

    .buttonEnd {
        font-size: 1.8vw;
        width: 13vw;
    }
}

@media screen and (max-device-width: 768px) and (min-device-width: 461px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    
    .container {
        width: 85%;
        margin-left: 0%;
    }

    .title {
        font-size: 2.7vw;
    }

    .qtdTotal {
        font-size: 2.2vw;
    }

    .product {
        width: 95%;
        height: 12%;
    }

    .imgProduto {
        width: 13%;
        height: 76%;
        margin-left: 0%;
    }

    .firstLine {
        width: 45%;
    }

    .buttons {
        width: 40%;
    }

    .buttonMenos {
        font-size: 2.2vw;
        height: 85%;
    }

    .qtd {
        font-size: 2.2vw;
    }

    .buttonMais {
        font-size: 2.2vw;
        height: 85%;
    }

    .valueSingle {
        font-size: 1.6vw;
    }

    .valueTotal {
        font-size: 2.3vw;
    }

    .name {
        font-size: 1.7vw;
    }

    .buttonRemove {
        height: 31%;
        width: 6%;
    }

    .lineEnd {
        width: 80%;
    }

    .input {
        width: 96%;
        height: 3.5vw;
        font-size: 1.8vw;
    }

    .buttonCep {
        height: 3.9vw;
        margin-left: 2vw;
        margin-top: 0.2vh;
    }

    .lupa {
        height: 3.9vw;
    }

    .address {
        width: 100%;
    }

    .local {
        font-size: 1.5vw;
    }

    .city {
        font-size: 1.5vw;
    }

    .freight {
        font-size: 1.5vw;
    }

    .total {
        font-size: 2.4vw;
    }

    .buttonHome {
        font-size: 1.8vw;
        width: 13vw;
    }

    .buttonEnd {
        font-size: 1.8vw;
        width: 13vw;
    }
}

@media screen and (max-device-width: 460px) {
    .main {
        flex-direction: column;
        align-items: center;
    }
    
    .container {
        width: 90%;
        margin-left: 2.6%;
    }

    .title {
        width: 35%;
        font-size: 4vw;
    }

    .qtdTotal {
        width: 38%;
        font-size: 3vw;
    }

    .product {
        width: 100%;
    }

    .imgProduto {
        width: 15%;
        height: 79%;
        margin-left: 0%;
    }

    .firstLine {
        width: 50%;
        margin-left: 0.5%;
    }

    .buttons {
        width: 82%;
        margin-left: 1%;
    }

    .buttonMenos {
        font-size: 5vw;
        height: 90%;
    }

    .qtd {
        font-size: 3vw;
        width: 40%;
    }

    .buttonMais {
        font-size: 5vw;
        height: 90%;
    }

    .value {
        width: 95%;
    }

    .valueSingle {
        font-size: 2.5vw;
    }

    .valueTotal {
        font-size: 3.7vw;
    }

    .name {
        font-size: 2.5vw;
        width: 19vw;
    }

    .buttonRemove {
        height: 32%;
        width: 7%;
        margin-right: 1%;
        padding-left: 0px;
    }

    .lineEnd {
        width: 90%;
        margin-top: 3%;
    }

    .input {
        width: 98%;
        height: 6vw;
        font-size: 3.5vw;
        padding-top: 1%;
    }

    .buttonCep {
        height: 6.6vw;
        margin-left: 4vw;
        margin-top: 0.3vh;
    }

    .lupa {
        height: 6.6vw;
    }

    .local {
        width: 63%;
        font-size: 2.6vw;
    }

    .city {
        font-size: 2.6vw;
    }

    .freight {
        font-size: 2.6vw;
    }

    .buttonClose {
        height: 6vw;
    }

    .excluir {
        height: 4vw;
        padding-top: 0.5%;
    }

    .total {
        font-size: 4vw;
    }

    .buttonHome {
        font-size: 3vw;
        width: 20vw;
    }

    .buttonEnd {
        font-size: 3vw;
        width: 20vw;
    }
}

/* Processador de Pagamentos */

@media screen and (max-device-width: 1024px) and (min-device-width: 769px) {

    .container_payment form {
        width: 80vw; 
    }

    .container_payment form .row .col .title {
        font-size: 2.2vw;
        width: 70%;
    }

    .container_payment form .row .col .inputBox span {
        font-size: 2.3vw;
    }

    .container_payment form .row .col .inputBox input {
        padding: 4.5% 1.5%;
        font-size: 2.1vw;
    }

    .container_payment form .row .col .flex .inputBox input {
        padding: 9.8% 4.5%;
        font-size: 2.1vw;
    }

    .container_payment form .row .col .inputBox .card_img {
        width: 28vw;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .container_payment form .submit_btn {
        font-size: 1.8vw;
    }
}

@media screen and (max-device-width: 768px) and (min-device-width: 551px) {

    .container_payment form {
        width: 87vw; 
    }

    .container_payment form .row {
        display: flex;
        flex-direction: row;
        
        gap: 2%;
        margin-bottom: 4%;
    }

    .container_payment form .row .col .title {
        font-size: 2.2vw;
        width: 70%;
    }

    .container_payment form .row .col .inputBox span {
        font-size: 2.3vw;
    }

    .container_payment form .row .col .inputBox input {
        padding: 4.5% 1.5%;
        font-size: 2.1vw;
    }

    .container_payment form .row .col .flex .inputBox input {
        padding: 9.8% 4.5%;
        font-size: 2.1vw;
    }

    .container_payment form .row .col .inputBox .card_img {
        width: 28vw;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .container_payment form .submit_btn {
        font-size: 2vw;
    }
}

@media screen and (max-device-width: 550px) {

    .container_payment {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2.5%;
        min-height: 80vh;
    }

    .container_payment form {
        width: 87vw; 
        border-radius: 10px;
    }

    .container_payment form .row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 5px;
        margin-bottom: 4px;
    }

    .container_payment form .row .col {
        flex: 1 1 25%;
        margin-bottom: 10px;
        
    }

    .container_payment form .row .col .title {
        font-size: 2.8vw;
        width: 70%;
    }

    .container_payment form .row .col .inputBox {
        margin-bottom: 15px;
    }

    .container_payment form .row .col .inputBox span {
        font-size: 2.7vw;
        margin-bottom: 0.9%;
        margin-left: 0.5%;
    }

    .container_payment form .row .col .inputBox input {
        width: 96%;
        padding: 3.5% 1.5%;
        font-size: 2.5vw;
        border-radius: 6px;
        margin-bottom: 1.6px;
        
    }

    .container_payment form .row .col .flex {
        width: 98%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 0px;
    }

    .container_payment form .row .col .flex .inputBox input {
        padding: 3.8% 1.5%;
        font-size: 2.5vw;
    }

    .container_payment form .row .col .inputBox .card_img {
        width: 28vw;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .container_payment form .submit_btn {
        padding: 4%;
        font-size: 2.5vw;
        margin-top: 0;
    }
}