body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("https://static.vecteezy.com/ti/fotos-gratis/p1/7359962-galaxy-stars-in-the-universe-outside-earth-abstract-graphic-design-wallpaper-card-3d-gratis-foto.jpg");
    background-repeat: repeat;
    background-size: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #161837;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 5px;
}
