.container{
    width: 100vw;
    height: 13vh;
    font-size: 5vh;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Signika Negative', sans-serif;
}

.logo{
    width: 20rem;
    height: auto; 
}

.iconCart {
    filter: invert(100%);
    width: auto;
    height: auto;
}

.cartQuantity {
    display: flex;
    position: absolute;
    top: 4vh;
    right: 3vw; 
}

.cartLength {
    font-size: 1rem;
    background-color: #8606fe;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10%;
    top: 0;
    width: 22px;
    height: 19px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-device-width: 500px){

    .container{
        height: 10vh;
    }

    .container .logo{
        width: 55vw;
        height: auto;
        margin-right: 10%;
    }

    .container .cartQuantity{
        top: 3vh;
        right: 3.8vw; 
    }

    .container .iconCart {
        width: 7vw;
        height: auto;
    }

    .container .cartLength {
        font-size: 3vw;
        width: 4vw;
        height: 4vw;
        margin-right: 5%;
    }
}