.container{
    position: relative;
    bottom: 0;
    display: flex;
    width: 100vw;
    height: auto;
    color: #FFFFFF;
    background-color: #000000;
    padding: 1vh 0 1vh 0;
    align-items: center;
    justify-content: center;
    font-family: 'Signika Negative', sans-serif;
}

.container .firstColumn{
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1vh;
}

.container .firstColumn .logo{
    width: 15vw;
    height: max-content;
}

.container .firstColumn .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .firstColumn .name .created{
    font-size: 0.7vw;
}

.container .firstColumn .name .createdName{
    font-size: 1vw;
    font-weight: bold;
}

.container .secondColumn{
    display: flex;
    width: 5%;
    font-size: 1vw;
}

.container .thirdColumn{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5vh; 
}

.container .thirdColumn .containerSocial {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.container .thirdColumn .containerSocial .linha{
    width: 25%;
    height: 20%;
}

.container .thirdColumn .containerSocial .imgSocial{
    display: flex;
    width: 18%;
    height: 8%;
    gap: 20%;
    margin-top: 2.5%; 
}

.container .thirdColumn .containerSocial  .imgSocial .img{
    width: 100%;
    height: 100%;
    border-radius: 15%;
}

@media screen and (max-device-width: 768px) and (min-device-width: 551px) {
    
    .container .firstColumn .logo{
        width: 22vw;
    }

    .container .firstColumn .name .created{
        font-size: 1vw;
    }

    .container .firstColumn .name .createdName{
        font-size: 1.3vw;
    }

    .container .secondColumn{
        font-size: 1.3vw;
    }

    .container .thirdColumn .containerSocial .linha{
        width: 35%;
    }

    .container .thirdColumn .containerSocial .imgSocial{
        width: 26%;
        margin-top: 3%;
    }
}

@media screen and (max-device-width: 550px){
    
    .container .firstColumn .logo {
        width: 45vw;
        height: max-content;
    }

    .container .firstColumn .name .created{
        font-size: 2vw;
    }

    .container .firstColumn .name .createdName{
        font-size: 2.5vw;
    }

    .container .secondColumn{
        font-size: 2.3vw;
    }

    .container .thirdColumn .containerSocial .linha{
        width: 55%;
    }

    .container .thirdColumn .containerSocial .imgSocial{
        width: 52%;
    }
}

